<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/DecisionTreeRegressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

import numpy as np
import pandas as pd

from getpass import getpass

In [3]:
def access_kaggle():
    """
    Access Kaggle from Google Colab.
    If the /root/.kaggle does not exist then prompt for
    the username and for the Kaggle API key.
    Creates the kaggle.json access file in the /root/.kaggle/ folder. 
    """
    KAGGLE_ROOT = os.path.join('/root', '.kaggle')
    KAGGLE_PATH = os.path.join(KAGGLE_ROOT, 'kaggle.json')

    if '.kaggle' not in os.listdir(path='/root'):
        user = getpass(prompt='Kaggle username: ')
        key  = getpass(prompt='Kaggle API key: ')
        
        !mkdir $KAGGLE_ROOT
        !touch $KAGGLE_PATH
        !chmod 666 $KAGGLE_PATH
        with open(KAGGLE_PATH, mode='w') as f:
            f.write('{"username":"%s", "key":"%s"}' %(user, key))
            f.close()
        !chmod 600 $KAGGLE_PATH
        del user
        del key
        success_msg = "Kaggle is successfully set up. Good to go."
        print(f'{success_msg}')

access_kaggle()

Kaggle username: ··········
Kaggle API key: ··········
Kaggle is successfully set up. Good to go.

In [4]:
!kaggle datasets list -s melbourne

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                  title                                     size  lastUpdated          downloadCount
---------------------------------------------------  ---------------------------------------  -----  -------------------  -------------
anthonypino/melbourne-housing-market                 Melbourne Housing Market                   2MB  2018-10-14 23:33:37          18069
dansbecker/melbourne-housing-snapshot                Melbourne Housing Snapshot               451KB  2018-06-05 12:52:24          30156
tylerx/melbourne-airbnb-open-data                    Melbourne Airbnb Open Data               120MB  2019-02-18 10:40:54           2286
glovepm/melbourne-housing                            Melbourne housing                        190KB  2017-05-09 15:46:45            413
shree1992/housedata                                  House price prediction                   432KB  2018-08-26 07:56:22           3447
antgoldbloom/port-phillip-bay-wind                   Port Phillip Bay Weather                   7MB  2019-12-17 23:26:23            180
paulbrabban/daily-minimum-temperatures-in-melbourne  Daily Minimum Temperatures in Melbourne   14KB  2019-03-23 21:36:49            448
simonjb/melbourne                                    Melbourne                                614KB  2018-02-23 16:43:04             45
ruizjme/realestate-vic-sold                          Victoria Real Estate                     257KB  2018-11-16 11:03:03            405
ganjedi/melbourne-housing-snapshot                   Melbourne Housing Snapshot               614KB  2018-01-23 19:39:49            144
mithesh/melbournehousingdataset                      melbourne-housing-dataset                614KB  2018-01-30 15:20:31            135
sanbelief/housing                                    housing                                  344KB  2017-06-08 15:24:36            374
jrangani7/melbourne                                  Melbourne                                614KB  2018-02-27 11:02:07             29
tylerx/sydney-airbnb-open-data                       Sydney Airbnb Open Data                  117MB  2019-11-18 02:38:56            420
karanrawat19/melbourne-housing                       Melbourne Housing                        614KB  2018-03-09 22:26:49             19
nltkdata/paradigm                                    Paradigm                                  25KB  2017-08-21 02:47:55             14
shrishb/melbourne-employment-per-industry            Melbourne Employment per Industry          9KB  2018-09-02 00:41:41             35
karanrawat19/melbourne-housing-data                  Melbourne Housing Data                   614KB  2018-03-09 22:29:43             36
danghle/melbourne-housing-snapshot                   Melbourne Housing Snapshot               614KB  2018-01-19 00:34:27             46
bashilgers/melbourne-train-dataset                   melbourne train dataset                   94KB  2018-01-04 13:17:10             27

In [5]:
!kaggle datasets download anthonypino/melbourne-housing-market --unzip -p datasets/housing

!apt-get install tree

!tree -sh datasets

Downloading melbourne-housing-market.zip to datasets/housing
  0% 0.00/2.28M [00:00<?, ?B/s]
100% 2.28M/2.28M [00:00<00:00, 75.4MB/s]
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-430
Use 'apt autoremove' to remove it.
The following NEW packages will be installed:
  tree
0 upgraded, 1 newly installed, 0 to remove and 7 not upgraded.
Need to get 40.7 kB of archives.
After this operation, 105 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tree amd64 1.7.0-5 [40.7 kB]
Fetched 40.7 kB in 0s (99.9 kB/s)
Selecting previously unselected package tree.
(Reading database ... 134985 files and directories currently installed.)
Preparing to unpack .../tree_1.7.0-5_amd64.deb ...
Unpacking tree (1.7.0-5) ...
Setting up tree (1.7.0-5) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
datasets
└── [4.0K]  housing
    ├── [7.0M]  MELBOURNE_HOUSE_PRICES_LESS.csv
    └── [4.8M]  Melbourne_housing_FULL.csv

1 directory, 2 files

# Exercises

## Step 1: Split Your Data
Use the `train_test_split` function to split up your data.

Give it the argument `random_state=1` so tthe `check` functions know what to expect when verifying your code.

Recall, your features are loaded in the DataFrame **X** and your target is loaded in **y**.

In [0]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [0]:
from sklearn.metrics import mean_absolute_error

mean_absolute_error(y_true=)

In [9]:
housing_path = os.path.join('datasets', 'housing')
csv_file_name = 'Melbourne_housing_FULL.csv'
csv_path = os.path.join(housing_path, csv_file_name)

df = pd.read_csv(filepath_or_buffer=csv_path,
                 sep=',', index_col=0)
df.head(2)

                  Address  Rooms  ...             Regionname  Propertycount
Suburb                            ...
Abbotsford  68 Studley St      2  ...  Northern Metropolitan         4019.0
Abbotsford   85 Turner St      2  ...  Northern Metropolitan         4019.0

[2 rows x 20 columns]

### Dropping the `NaN` value rows.

In [10]:
print(f'{df.shape}')
df = df.dropna(axis='index')
print(f'{df.shape}')

(34857, 20)
(8887, 20)

In [11]:
df.columns

Index(['Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Date',
       'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize',
       'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude',
       'Regionname', 'Propertycount'],
      dtype='object')

### Getting information about the columns.
The problem with the `info` method is that it is `printing` instead of `returning` all these information.
If it would return it in a `DataFrame/Series` than we could further process these informations.

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8887 entries, Abbotsford to Yarraville
Data columns (total 20 columns):
Address          8887 non-null object
Rooms            8887 non-null int64
Type             8887 non-null object
Price            8887 non-null float64
Method           8887 non-null object
SellerG          8887 non-null object
Date             8887 non-null object
Distance         8887 non-null float64
Postcode         8887 non-null float64
Bedroom2         8887 non-null float64
Bathroom         8887 non-null float64
Car              8887 non-null float64
Landsize         8887 non-null float64
BuildingArea     8887 non-null float64
YearBuilt        8887 non-null float64
CouncilArea      8887 non-null object
Lattitude        8887 non-null float64
Longtitude       8887 non-null float64
Regionname       8887 non-null object
Propertycount    8887 non-null float64
dtypes: float64(12), int64(1), object(7)
memory usage: 1.7+ MB

### Trying to `manualy` recreate what the `info` method does.
At least the information about the types.

In [15]:
pd.Series(data=[df[_].dtype for _ in list(df.columns)],
          index=df.columns)

Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

### ...but wait!!!
#### what does `dtypes` do?
Exactly what we needed. :)
`df.dtypes` gives us a Series with all the types.
`all_types != 'object'` will give a condition on the `all_types` Series where we exlude the `object` dtypes.

In [48]:
all_types = df.dtypes
numerical = all_types[all_types != 'object']
feature_indexes = numerical.drop(index=['Price'])
feature_indexes

Rooms              int64
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
Lattitude        float64
Longtitude       float64
Propertycount    float64
dtype: object

In [0]:
feature_columns = feature_indexes.index.to_list()
X = df[feature_columns]
y = df.Price

In [0]:
train_x, val_x, train_y, val_y = train_test_split(X, y,
                                                  test_size=0.2,
                                                  random_state=42)

In [33]:
model = DecisionTreeRegressor(random_state=42)

model.fit(X=train_x, y=train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=42, splitter='best')

In [35]:
val_predictions = model.predict(X=val_x)

mean_absolute_error(y_true=val_y, y_pred=val_predictions)

218131.49325084363

### Optimal number of leafs.
Finding the maximum number of leafs, `max_leaf_nodes` that gives us the minimum `MAE`(
Maximum Absolute Error).

In [47]:
def test_max_leaf_nodes(df, max_leaf_nodes):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes,
                                  random_state=42)

    model.fit(X=train_x, y=train_y)
    val_predictions = model.predict(X=val_x)

    mae = mean_absolute_error(y_true=val_y, y_pred=val_predictions)
    return mae

for _ in [5,50,100,200,300,400,500,750, 1000]:
    mae = test_max_leaf_nodes(df, max_leaf_nodes=_)
    print(f'leafs:{_:4}-->mae:{mae}')

leafs:   5-->mae:349152.8820785692
leafs:  50-->mae:230923.31076974154
leafs: 100-->mae:219586.52917835108
leafs: 200-->mae:210129.18969362267
leafs: 300-->mae:209434.24592241764
leafs: 400-->mae:205730.3815403232
leafs: 500-->mae:204971.70109087377
leafs: 750-->mae:205417.97928965167
leafs:1000-->mae:208263.97325585954

### 500 is about right.
It looks like that with about 500 maximum leaf we can minimize the `MAE` in our `DecisionTreeRegressor`.