<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/finding_NaN_value_rows_columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame(
    data={
        'Age': [2,3,4,np.nan, np.nan],
        'Height': [100,95,120,125,np.nan],
        'Weight': [np.nan,12,15,20,np.nan],
        'Favorite number': [1,2,3,4,5],
    }
)
df

   Age  Height  Weight  Favorite number
0  2.0   100.0     NaN                1
1  3.0    95.0    12.0                2
2  4.0   120.0    15.0                3
3  NaN   125.0    20.0                4
4  NaN     NaN     NaN                5

In [6]:
columns_with_any_NaN = df.isnull().any()
columns_with_any_NaN

Age                 True
Height              True
Weight              True
Favorite number    False
dtype: bool

In [7]:
rows_with_any_NaN = df.isnull().any(axis='columns')
rows_with_any_NaN

0     True
1    False
2    False
3     True
4     True
dtype: bool

In [8]:
columns_with_all_NaN = df.isnull().all()
columns_with_all_NaN

Age                False
Height             False
Weight             False
Favorite number    False
dtype: bool

In [9]:
rows_with_all_NaN = df.isnull().all(axis='columns')
rows_with_all_NaN

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [10]:
df[rows_with_any_NaN]

   Age  Height  Weight  Favorite number
0  2.0   100.0     NaN                1
3  NaN   125.0    20.0                4
4  NaN     NaN     NaN                5

In [11]:
df[columns_with_any_NaN]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: ignored

In [12]:
df['IQ'] = [np.nan]*5
df

   Age  Height  Weight  Favorite number  IQ
0  2.0   100.0     NaN                1 NaN
1  3.0    95.0    12.0                2 NaN
2  4.0   120.0    15.0                3 NaN
3  NaN   125.0    20.0                4 NaN
4  NaN     NaN     NaN                5 NaN

In [13]:
columns_with_all_NaN = df.isnull().all()
columns_with_all_NaN

Age                False
Height             False
Weight             False
Favorite number    False
IQ                  True
dtype: bool

In [16]:
df = df.append(
    other={
    'Age': np.nan,
    'Height': np.nan,
    'Weight': np.nan,
    },
    ignore_index=True)
df

   Age  Height  Weight  Favorite number  IQ
0  2.0   100.0     NaN              1.0 NaN
1  3.0    95.0    12.0              2.0 NaN
2  4.0   120.0    15.0              3.0 NaN
3  NaN   125.0    20.0              4.0 NaN
4  NaN     NaN     NaN              5.0 NaN
5  NaN     NaN     NaN              NaN NaN

In [17]:
rows_with_all_NaN = df.isnull().all(axis='columns')
rows_with_all_NaN

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [18]:
df[rows_with_all_NaN]

   Age  Height  Weight  Favorite number  IQ
5  NaN     NaN     NaN              NaN NaN