<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/machine_learning_beginner_tree_or_forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install tree

Reading package lists... Done
Building dependency tree
Reading state information... Done
tree is already the newest version (1.7.0-5).
The following package was automatically installed and is no longer required:
  libnvidia-common-430
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 7 not upgraded.

In [0]:
import os

import numpy as np
import pandas as pd

from getpass import getpass

In [3]:
def access_kaggle():
    """
    Access Kaggle from Google Colab.
    If the /root/.kaggle does not exist then prompt for
    the username and for the Kaggle API key.
    Creates the kaggle.json access file in the /root/.kaggle/ folder. 
    """
    KAGGLE_ROOT = os.path.join('/root', '.kaggle')
    KAGGLE_PATH = os.path.join(KAGGLE_ROOT, 'kaggle.json')

    if '.kaggle' not in os.listdir(path='/root'):
        user = getpass(prompt='Kaggle username: ')
        key  = getpass(prompt='Kaggle API key: ')
        
        !mkdir $KAGGLE_ROOT
        !touch $KAGGLE_PATH
        !chmod 666 $KAGGLE_PATH
        with open(KAGGLE_PATH, mode='w') as f:
            f.write('{"username":"%s", "key":"%s"}' %(user, key))
            f.close()
        !chmod 600 $KAGGLE_PATH
        del user
        del key
        success_msg = "Kaggle is successfully set up. Good to go."
        print(f'{success_msg}')

access_kaggle()

Kaggle username: ··········
Kaggle API key: ··········
Kaggle is successfully set up. Good to go.

In [4]:
!kaggle datasets download gunjanpathak/melb-data --unzip
!tree -sh ./
!cat -n melb_data.csv|head -5
df = pd.read_csv('melb_data.csv', sep=',', index_col=0)
print(f'CSV file is loaded to DataFrame.')
df.columns

Downloading melb-data.zip to /content
  0% 0.00/614k [00:00<?, ?B/s]
100% 614k/614k [00:00<00:00, 40.4MB/s]
./
├── [2.7M]  melb_data.csv
└── [4.0K]  sample_data
    ├── [1.7K]  anscombe.json
    ├── [294K]  california_housing_test.csv
    ├── [1.6M]  california_housing_train.csv
    ├── [ 17M]  mnist_test.csv
    ├── [ 35M]  mnist_train_small.csv
    └── [ 930]  README.md

1 directory, 7 files
     1	,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
     2	1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,,,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
     3	2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
     4	4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
     5	5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,,,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
CSV file is loaded to DataFrame.

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
df.columns = df.columns.map(lambda c: c.lower())
print(f'Column names are transformed to lowercase.')
df.columns

Column names are transformed to lowercase.

Index(['suburb', 'address', 'rooms', 'type', 'price', 'method', 'sellerg',
       'date', 'distance', 'postcode', 'bedroom2', 'bathroom', 'car',
       'landsize', 'buildingarea', 'yearbuilt', 'councilarea', 'lattitude',
       'longtitude', 'regionname', 'propertycount'],
      dtype='object')

In [6]:
df.isnull().sum()

suburb               0
address              0
rooms                0
type                 0
price                0
method               0
sellerg              0
date                 0
distance             1
postcode             1
bedroom2          3469
bathroom          3471
car               3576
landsize          4793
buildingarea     10634
yearbuilt         9438
councilarea       6163
lattitude         3332
longtitude        3332
regionname           1
propertycount        1
dtype: int64

In [7]:
# Dropping all records with any NaN values.
df = df.dropna(axis='index')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6196 entries, 2 to 19739
Data columns (total 21 columns):
suburb           6196 non-null object
address          6196 non-null object
rooms            6196 non-null int64
type             6196 non-null object
price            6196 non-null float64
method           6196 non-null object
sellerg          6196 non-null object
date             6196 non-null object
distance         6196 non-null float64
postcode         6196 non-null float64
bedroom2         6196 non-null float64
bathroom         6196 non-null float64
car              6196 non-null float64
landsize         6196 non-null float64
buildingarea     6196 non-null float64
yearbuilt        6196 non-null float64
councilarea      6196 non-null object
lattitude        6196 non-null float64
longtitude       6196 non-null float64
regionname       6196 non-null object
propertycount    6196 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 1.0+ MB

In [8]:
# Checking if any NaN values left.
df.isnull().sum()

suburb           0
address          0
rooms            0
type             0
price            0
method           0
sellerg          0
date             0
distance         0
postcode         0
bedroom2         0
bathroom         0
car              0
landsize         0
buildingarea     0
yearbuilt        0
councilarea      0
lattitude        0
longtitude       0
regionname       0
propertycount    0
dtype: int64

In [9]:
df.dtypes

suburb            object
address           object
rooms              int64
type              object
price            float64
method            object
sellerg           object
date              object
distance         float64
postcode         float64
bedroom2         float64
bathroom         float64
car              float64
landsize         float64
buildingarea     float64
yearbuilt        float64
councilarea       object
lattitude        float64
longtitude       float64
regionname        object
propertycount    float64
dtype: object

In [10]:
# List only the non-object columns.
df.dtypes[df.dtypes != 'object']

rooms              int64
price            float64
distance         float64
postcode         float64
bedroom2         float64
bathroom         float64
car              float64
landsize         float64
buildingarea     float64
yearbuilt        float64
lattitude        float64
longtitude       float64
propertycount    float64
dtype: object

In [0]:
y = df.price

feature_columns = [
    'rooms',
    'bathroom',
    'landsize',
    'buildingarea',
    'lattitude',
    'longtitude',
]

X = df[feature_columns]

In [0]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

train_x, val_x, train_y, val_y = train_test_split(X, y, test_size=0.2)

In [13]:

def best_max_leaf_option(start, finish, step):
    """Return a Series with the MAEs as values
       and the leaf #s as indexes.
    """
    data_tree = []
    for _ in range(start, finish, step):
        model = DecisionTreeRegressor(max_leaf_nodes=_, random_state=1)
        model.fit(X=train_x, y=train_y)
        prediction = model.predict(X=val_x)

        mae_tree = mean_absolute_error(y_true=val_y, y_pred=prediction)
        data_tree.append(mae_tree)

    mae_tree_ser = pd.Series(data=data_tree,
                            index=list(range(start, finish, step)),
                            name='MAE for tree'
                    )
    return mae_tree_ser

mae_tree_ser = best_max_leaf_option(5,5000,500)
print(f'{mae_tree_ser}')

index_min = mae_tree_ser.idxmin()
print()
print(f'best option: leaf: {index_min}-->MAE: {mae_tree_ser.loc[index_min]}')

5       335934.863438
505     231091.377162
1005    233266.544057
1505    238096.588390
2005    239330.888798
2505    239714.694808
3005    240409.709140
3505    240390.428253
4005    240740.423253
4505    240891.778495
Name: MAE for tree, dtype: float64

best option: leaf: 505-->MAE: 231091.37716201294

In [14]:
mae_tree_ser = best_max_leaf_option(5,1005,100)
print(f'{mae_tree_ser}')

index_min = mae_tree_ser.idxmin()
print()
print(f'best option: leaf: {index_min}-->MAE: {mae_tree_ser.loc[index_min]}')

5      335934.863438
105    240648.070228
205    226802.117397
305    227557.355740
405    228224.347998
505    231091.377162
605    231232.837903
705    231476.557669
805    231270.043689
905    232312.428110
Name: MAE for tree, dtype: float64

best option: leaf: 205-->MAE: 226802.11739710675

In [15]:
mae_tree_ser = best_max_leaf_option(105,505,25)
print(f'{mae_tree_ser}')

index_min = mae_tree_ser.idxmin()
print()
print(f'best option: leaf: {index_min}-->MAE: {mae_tree_ser.loc[index_min]}')

105    240648.070228
130    236513.532374
155    230210.784207
180    231832.963619
205    226802.117397
230    225584.773200
255    226452.512574
280    228235.002256
305    227557.355740
330    228430.326547
355    227806.888698
380    227569.534735
405    228224.347998
430    230419.468369
455    231810.303265
480    231863.560862
Name: MAE for tree, dtype: float64

best option: leaf: 230-->MAE: 225584.77320032855

In [16]:
mae_tree_ser = best_max_leaf_option(330,405,5)
print(f'{mae_tree_ser}')

index_min = mae_tree_ser.idxmin()
print()
print(f'best option: leaf: {index_min}-->MAE: {mae_tree_ser.loc[index_min]}')

330    228430.326547
335    228218.339514
340    228254.722951
345    228602.622289
350    228022.136277
355    227806.888698
360    226707.697717
365    226543.598977
370    227153.552877
375    227476.164439
380    227569.534735
385    228288.883416
390    228124.296581
395    227477.922934
400    227148.237417
Name: MAE for tree, dtype: float64

best option: leaf: 365-->MAE: 226543.598976995

### Choosing `365` maximum leafs for the decistion tree is close to optimal.

In [0]:
from sklearn.ensemble import RandomForestRegressor

In [18]:
def best_max_leaf_option(start, finish, step):
    """Return a Series with the MAEs as values
       and the leaf #s as indexes.
    """
    print('Processing: ', end='')
    data_tree = []
    for _ in range(start, finish, step):
        model = RandomForestRegressor(n_estimators=_, random_state=1)
        model.fit(X=train_x, y=train_y)
        prediction = model.predict(X=val_x)

        mae_forest = mean_absolute_error(y_true=val_y, y_pred=prediction)
        data_tree.append(mae_forest)
        print('#',end='')
    print()
    mae_forest_ser = pd.Series(data=data_tree,
                            index=list(range(start, finish, step)),
                            name='MAE for tree'
                    )
    return mae_forest_ser

mae_forest_ser = best_max_leaf_option(20,300,20)
print(f'{mae_forest_ser}')

index_min = mae_forest_ser.idxmin()
print()
print(f'best option: leaf: {index_min}-->MAE: {mae_forest_ser.loc[index_min]}')

Processing: #############
20     188229.268952
40     183396.339140
60     180900.661877
80     180067.680951
100    179594.726621
120    180240.873785
140    179747.120727
160    179077.967917
180    178880.030915
200    178939.442435
220    178936.501528
240    178847.627339
260    179127.073462
280    178994.311962
Name: MAE for tree, dtype: float64

best option: leaf: 240-->MAE: 178847.62733918973

In [20]:
mae_forest_ser = best_max_leaf_option(220,260,5)
print(f'{mae_forest_ser}')

index_min = mae_forest_ser.idxmin()
print()
print(f'best option: leaf: {index_min}-->MAE: {mae_forest_ser.loc[index_min]}')

Processing: ########
220    178936.501528
225    178869.222985
230    178790.927446
235    178663.228584
240    178847.627339
245    178924.704196
250    179071.583283
255    179183.905299
Name: MAE for tree, dtype: float64

best option: leaf: 235-->MAE: 178663.22858433833

### Choosing `235` trees looks close to optimal for the random forest model.

### Now we will create a model with the `lowest MAE` so far and train on `all` the data, `X`.

In [21]:
best_model = RandomForestRegressor(n_estimators=235, random_state=1)

best_model.fit(X, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=235,
                      n_jobs=None, oob_score=False, random_state=1, verbose=0,
                      warm_start=False)