<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/monthly_sales_analyzis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##This code was following the following tutorial: [YouTube](https://www.youtube.com/watch?v=eMOA1pPVUc4)

Credits for `Keith Galli`

#Set up

In [1]:
!apt-get -qq install tree

Selecting previously unselected package tree.
(Reading database ... 135004 files and directories currently installed.)
Preparing to unpack .../tree_1.7.0-5_amd64.deb ...
Unpacking tree (1.7.0-5) ...
Setting up tree (1.7.0-5) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [0]:
import numpy as np
import pandas as pd

import os

In [3]:
!ls -lh

total 4.9M
-rw-r--r-- 1 root root 4.9M Jan 14 20:41 Pandas-Data-Science-Tasks-master.zip
drwxr-xr-x 1 root root 4.0K Jan 13 16:38 sample_data

In [4]:
!unzip Pandas-Data-Science-Tasks-master.zip

Archive:  Pandas-Data-Science-Tasks-master.zip
c06b91806cace19e488dcf8cfc042f49a1335676
   creating: Pandas-Data-Science-Tasks-master/
   creating: Pandas-Data-Science-Tasks-master/Misc/
  inflating: Pandas-Data-Science-Tasks-master/Misc/create_data.py
  inflating: Pandas-Data-Science-Tasks-master/README.md
   creating: Pandas-Data-Science-Tasks-master/SalesAnalysis/
   creating: Pandas-Data-Science-Tasks-master/SalesAnalysis/Output/
  inflating: Pandas-Data-Science-Tasks-master/SalesAnalysis/Output/all_data.csv
  inflating: Pandas-Data-Science-Tasks-master/SalesAnalysis/SalesAnalysis.ipynb
   creating: Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/
  inflating: Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_April_2019.csv
  inflating: Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_August_2019.csv
  inflating: Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_December_2019.csv
  inflating: Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_February_2019.csv
  inflating: Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_January_2019.csv
  inflating: Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_July_2019.csv
  inflating: Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_June_2019.csv
  inflating: Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_March_2019.csv
  inflating: Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_May_2019.csv
  inflating: Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_November_2019.csv
  inflating: Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_October_2019.csv
  inflating: Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_September_2019.csv

In [5]:
!tree -sh ./

./
├── [4.0K]  Pandas-Data-Science-Tasks-master
│   ├── [4.0K]  Misc
│   │   └── [5.0K]  create_data.py
│   ├── [2.3K]  README.md
│   └── [4.0K]  SalesAnalysis
│       ├── [4.0K]  Output
│       │   └── [ 15M]  all_data.csv
│       ├── [158K]  SalesAnalysis.ipynb
│       └── [4.0K]  Sales_Data
│           ├── [1.5M]  Sales_April_2019.csv
│           ├── [1019K]  Sales_August_2019.csv
│           ├── [2.1M]  Sales_December_2019.csv
│           ├── [1022K]  Sales_February_2019.csv
│           ├── [823K]  Sales_January_2019.csv
│           ├── [1.2M]  Sales_July_2019.csv
│           ├── [1.1M]  Sales_June_2019.csv
│           ├── [1.3M]  Sales_March_2019.csv
│           ├── [1.4M]  Sales_May_2019.csv
│           ├── [1.5M]  Sales_November_2019.csv
│           ├── [1.7M]  Sales_October_2019.csv
│           └── [991K]  Sales_September_2019.csv
├── [4.8M]  Pandas-Data-Science-Tasks-master.zip
└── [4.0K]  sample_data
    ├── [1.7K]  anscombe.json
    ├── [294K]  california_housing_test.csv
    ├── [1.6M]  california_housing_train.csv
    ├── [ 17M]  mnist_test.csv
    ├── [ 35M]  mnist_train_small.csv
    └── [ 930]  README.md

6 directories, 23 files

# Questions

##Question 0
- Load `all 12 months` of sales into one `DataFrame`.

In [6]:
SALES_PATH = 'Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data'

os.listdir(SALES_PATH)

['Sales_June_2019.csv',
 'Sales_April_2019.csv',
 'Sales_July_2019.csv',
 'Sales_March_2019.csv',
 'Sales_February_2019.csv',
 'Sales_October_2019.csv',
 'Sales_August_2019.csv',
 'Sales_December_2019.csv',
 'Sales_January_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_September_2019.csv']

In [7]:
df = pd.DataFrame(data={})

for csv_file_name in os.listdir(SALES_PATH):
    csv_path = os.path.join(SALES_PATH, csv_file_name)
    monthly_df = pd.read_csv(csv_path, sep=',')
    print(f'{csv_file_name} shape: {monthly_df.shape}')
    df = pd.concat([df, monthly_df], axis='index', ignore_index=True)

print(f'all month shape: {df.shape}')

Sales_June_2019.csv shape: (13622, 6)
Sales_April_2019.csv shape: (18383, 6)
Sales_July_2019.csv shape: (14371, 6)
Sales_March_2019.csv shape: (15226, 6)
Sales_February_2019.csv shape: (12036, 6)
Sales_October_2019.csv shape: (20379, 6)
Sales_August_2019.csv shape: (12011, 6)
Sales_December_2019.csv shape: (25117, 6)
Sales_January_2019.csv shape: (9723, 6)
Sales_May_2019.csv shape: (16635, 6)
Sales_November_2019.csv shape: (17661, 6)
Sales_September_2019.csv shape: (11686, 6)
all month shape: (186850, 6)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
Order ID            186305 non-null object
Product             186305 non-null object
Quantity Ordered    186305 non-null object
Price Each          186305 non-null object
Order Date          186305 non-null object
Purchase Address    186305 non-null object
dtypes: object(6)
memory usage: 8.6+ MB

In [9]:
df.head(3)

  Order ID  ...                       Purchase Address
0   209921  ...      950 Walnut St, Portland, ME 04101
1   209922  ...     80 4th St, San Francisco, CA 94016
2   209923  ...  402 Jackson St, Los Angeles, CA 90001

[3 rows x 6 columns]

## Question 1
- What was the best month for sales?
- How much was earned that month?

###Task 1
- Get extra `Month` column.

In [12]:
df['Order Date'].iloc[0]

'06/23/19 19:34'

In [13]:
type(df['Order Date'].iloc[0])

str

In [14]:
def get_month_from_date(date):
    return date[:2]
get_month_from_date('06/23/19 19:34')

'06'

In [15]:
get_month_from_date(df['Order Date'].iloc[0])

'06'

In [16]:
df['Month'] = df['Order Date'].map(lambda d: get_month_from_date(d))

TypeError: ignored

In [18]:
df['Month'] = df['Order Date'].map(lambda d: get_month_from_date(str(d)))
df.head(3)

  Order ID               Product  ...                       Purchase Address Month
0   209921  USB-C Charging Cable  ...      950 Walnut St, Portland, ME 04101    06
1   209922    Macbook Pro Laptop  ...     80 4th St, San Francisco, CA 94016    06
2   209923       ThinkPad Laptop  ...  402 Jackson St, Los Angeles, CA 90001    06

[3 rows x 7 columns]

###Task 2: Change data types.
- `Month` from `object` to `int8`
- `Quantity Ordered` from `object` to `int64`
- `Price Each` from `object` to `float64`

In [19]:
df.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
Month               object
dtype: object

In [20]:
df['Month'].astype('int8')

ValueError: ignored

In [21]:
df['Month'].unique()

array(['06', 'Or', 'na', '07', '04', '05', '08', '03', '02', '10', '11',
       '09', '12', '01'], dtype=object)

####Task 2.1: Dealing with missing and non-numeric values.
- missing values(`NaN`)
- non-numeric values(`Or`) in the `Month` column

#####Missing values(`NaN`)

In [23]:
rows_with_any_missing_values = df[df.isnull().any(axis='columns')]
rows_with_any_missing_values

       Order ID Product Quantity Ordered  ... Order Date Purchase Address Month
339         NaN     NaN              NaN  ...        NaN              NaN    na
630         NaN     NaN              NaN  ...        NaN              NaN    na
735         NaN     NaN              NaN  ...        NaN              NaN    na
1136        NaN     NaN              NaN  ...        NaN              NaN    na
1349        NaN     NaN              NaN  ...        NaN              NaN    na
...         ...     ...              ...  ...        ...              ...   ...
185176      NaN     NaN              NaN  ...        NaN              NaN    na
185438      NaN     NaN              NaN  ...        NaN              NaN    na
186042      NaN     NaN              NaN  ...        NaN              NaN    na
186548      NaN     NaN              NaN  ...        NaN              NaN    na
186826      NaN     NaN              NaN  ...        NaN              NaN    na

[545 rows x 7 columns]

Drop rows with any missing values.

In [24]:
df.dropna(axis='index', how='any')

       Order ID  ... Month
0        209921  ...    06
1        209922  ...    06
2        209923  ...    06
3        209924  ...    06
4        209925  ...    06
...         ...  ...   ...
186845   259353  ...    09
186846   259354  ...    09
186847   259355  ...    09
186848   259356  ...    09
186849   259357  ...    09

[186305 rows x 7 columns]

In [26]:
# The missing values are still there.
df.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
Month                 0
dtype: int64

In [27]:
df.dropna(axis='index', how='any', inplace=True)
df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Month               0
dtype: int64

#####Non-numeric values(`Or`) in the `Month` column

In [30]:
condition_Or_month = df['Month'] == 'Or'
condition_Or_month

0         False
1         False
2         False
3         False
4         False
          ...
186845    False
186846    False
186847    False
186848    False
186849    False
Name: Month, Length: 186305, dtype: bool

In [31]:
df[condition_Or_month]

        Order ID  Product  Quantity Ordered  ...  Order Date  Purchase Address Month
158     Order ID  Product  Quantity Ordered  ...  Order Date  Purchase Address    Or
990     Order ID  Product  Quantity Ordered  ...  Order Date  Purchase Address    Or
1679    Order ID  Product  Quantity Ordered  ...  Order Date  Purchase Address    Or
1684    Order ID  Product  Quantity Ordered  ...  Order Date  Purchase Address    Or
3126    Order ID  Product  Quantity Ordered  ...  Order Date  Purchase Address    Or
...          ...      ...               ...  ...         ...               ...   ...
185164  Order ID  Product  Quantity Ordered  ...  Order Date  Purchase Address    Or
185551  Order ID  Product  Quantity Ordered  ...  Order Date  Purchase Address    Or
186563  Order ID  Product  Quantity Ordered  ...  Order Date  Purchase Address    Or
186632  Order ID  Product  Quantity Ordered  ...  Order Date  Purchase Address    Or
186738  Order ID  Product  Quantity Ordered  ...  Order Date  Purchase Address    Or

[355 rows x 7 columns]

In [34]:
df = df[~ condition_Or_month]
df[condition_Or_month]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address, Month]
Index: []

####Task2.2 Now we can change the data types.

In [35]:
df['Month'].astype('int8')

0         6
1         6
2         6
3         6
4         6
         ..
186845    9
186846    9
186847    9
186848    9
186849    9
Name: Month, Length: 185950, dtype: int8

In [36]:
df.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
Month               object
dtype: object

In [37]:
df['Month'] = df['Month'].astype('int8')
df.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
Month                 int8
dtype: object

In [39]:
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'])
df['Price Each'] = pd.to_numeric(df['Price Each'])
df.dtypes

Order ID             object
Product              object
Quantity Ordered      int64
Price Each          float64
Order Date           object
Purchase Address     object
Month                  int8
dtype: object

###Task 3:
- Create extra column with `Sales`

In [40]:
df['Sales'] = df['Quantity Ordered'] * df['Price Each']
df.head(3)

  Order ID               Product  ...  Month    Sales
0   209921  USB-C Charging Cable  ...      6    11.95
1   209922    Macbook Pro Laptop  ...      6  1700.00
2   209923       ThinkPad Laptop  ...      6   999.99

[3 rows x 8 columns]

###Task 4:
- Use `groupby` to get the monthly `Sales`

In [42]:
monthly_total_sales = df.groupby(by=['Month']).Sales.sum()
monthly_total_sales

Month
1     1.822257e+06
2     2.202022e+06
3     2.807100e+06
4     3.390670e+06
5     3.152607e+06
6     2.577802e+06
7     2.647776e+06
8     2.244468e+06
9     2.097560e+06
10    3.736727e+06
11    3.199603e+06
12    4.613443e+06
Name: Sales, dtype: float64

In [44]:
sorted_monthly_total_sales = monthly_total_sales.sort_values(ascending=False)
sorted_monthly_total_sales

Month
12    4.613443e+06
10    3.736727e+06
4     3.390670e+06
11    3.199603e+06
5     3.152607e+06
3     2.807100e+06
7     2.647776e+06
6     2.577802e+06
8     2.244468e+06
2     2.202022e+06
9     2.097560e+06
1     1.822257e+06
Name: Sales, dtype: float64

In [56]:
import calendar

best_month = sorted_monthly_total_sales.index[0]
month_name = calendar.month_name[best_month]
print(f'The best month for sales was {month_name}')
print(f'Total sales in this month is ${sorted_monthly_total_sales.iloc[0]:10.2f}')

The best month for sales was December
Total sales in this month is $4613443.34

## Question 2
- Which city had the most sales?

In [58]:
df.head(3)

  Order ID               Product  ...  Month    Sales
0   209921  USB-C Charging Cable  ...      6    11.95
1   209922    Macbook Pro Laptop  ...      6  1700.00
2   209923       ThinkPad Laptop  ...      6   999.99

[3 rows x 8 columns]

In [59]:
'950 Walnut St, Portland, ME 04101'.split(',')

['950 Walnut St', ' Portland', ' ME 04101']

In [60]:
def get_city(address):
    city = address.split(',')[1][1:]
    state = address.split(',')[2][1:3]
    return f'{city}, {state}'
get_city('950 Walnut St, Portland, ME 04101')

'Portland, ME'

In [61]:
df['Purchase Address'].map(lambda address: get_city(address))

0              Portland, ME
1         San Francisco, CA
2           Los Angeles, CA
3               Seattle, WA
4         San Francisco, CA
                ...
186845      Los Angeles, CA
186846    San Francisco, CA
186847    San Francisco, CA
186848    San Francisco, CA
186849    San Francisco, CA
Name: Purchase Address, Length: 185950, dtype: object

In [62]:
df['City'] = df['Purchase Address'].map(lambda address: get_city(address))
df.head(3)

  Order ID               Product  ...    Sales               City
0   209921  USB-C Charging Cable  ...    11.95       Portland, ME
1   209922    Macbook Pro Laptop  ...  1700.00  San Francisco, CA
2   209923       ThinkPad Laptop  ...   999.99    Los Angeles, CA

[3 rows x 9 columns]

In [64]:
sales_by_city = df.groupby(by=['City']).Sales.sum()
sales_by_city

City
Atlanta, GA          2.795499e+06
Austin, TX           1.819582e+06
Boston, MA           3.661642e+06
Dallas, TX           2.767975e+06
Los Angeles, CA      5.452571e+06
New York City, NY    4.664317e+06
Portland, ME         4.497583e+05
Portland, OR         1.870732e+06
San Francisco, CA    8.262204e+06
Seattle, WA          2.747755e+06
Name: Sales, dtype: float64

In [70]:
city_with_max_total_sales = sales_by_city.idxmax()
print(f'The city with the maximum total sales: {city_with_max_total_sales}')
print(f'{city_with_max_total_sales} had the total sales of ${sales_by_city.loc[city_with_max_total_sales]:10.2f}')

The city with the maximum total sales: San Francisco, CA
San Francisco, CA had the total sales of $8262203.91

##Quesiton 3
- What city had the highest number of sales?

In [71]:
df.head(3)

  Order ID               Product  ...    Sales               City
0   209921  USB-C Charging Cable  ...    11.95       Portland, ME
1   209922    Macbook Pro Laptop  ...  1700.00  San Francisco, CA
2   209923       ThinkPad Laptop  ...   999.99    Los Angeles, CA

[3 rows x 9 columns]

In [74]:
city_by_number_of_sales = df.groupby(by=['City']).apply(lambda row: row['Quantity Ordered'].sum())
city_by_number_of_sales

City
Atlanta, GA          16602
Austin, TX           11153
Boston, MA           22528
Dallas, TX           16730
Los Angeles, CA      33289
New York City, NY    27932
Portland, ME          2750
Portland, OR         11303
San Francisco, CA    50239
Seattle, WA          16553
dtype: int64

In [78]:
city_with_max_total_number_sales = city_by_number_of_sales.idxmax()
print(f'The city with the maximum total number of sales: {city_with_max_total_number_sales}')
print(f'{city_with_max_total_number_sales} had the total number of sales of '
      f'{city_by_number_of_sales.loc[city_with_max_total_number_sales]}')

The city with the maximum total number of sales: San Francisco, CA
San Francisco, CA had the total number of sales of 50239