<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/Nominal_multiple_column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [2]:
nominal_df = pd.DataFrame(
    data={
        'Color': [
            'Red',
            'Yellow',
            'Blue',
            'Green',
            'Yellow',
        ],
        'Brand': [
            'Toyota',
            'Mercedes',
            'Tesla',
            'Tesla',
            'Mercedes',
        ]
    },
    index= list('ABCDE')
)
df = nominal_df.copy()
df

    Color     Brand
A     Red    Toyota
B  Yellow  Mercedes
C    Blue     Tesla
D   Green     Tesla
E  Yellow  Mercedes

In [3]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

nominal_columns = [
    'Color',
    'Brand',
]

for col in nominal_columns:
    df[col + '_encoded'] = label_encoder.fit_transform(df[col])
df

    Color     Brand  Color_encoded  Brand_encoded
A     Red    Toyota              2              2
B  Yellow  Mercedes              3              0
C    Blue     Tesla              0              1
D   Green     Tesla              1              1
E  Yellow  Mercedes              3              0

In [4]:
df = nominal_df.copy()
df

    Color     Brand
A     Red    Toyota
B  Yellow  Mercedes
C    Blue     Tesla
D   Green     Tesla
E  Yellow  Mercedes

In [5]:
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder = OneHotEncoder(sparse=False)

one_hot_encoded = one_hot_encoder.fit_transform(df)
one_hot_encoded

array([[0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 1., 1., 0., 0.],
       [1., 0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 1., 0., 0.]])

In [6]:
one_hot_encoder.categories_[0]

array(['Blue', 'Green', 'Red', 'Yellow'], dtype=object)

In [7]:
one_hot_encoder.categories_[1]

array(['Mercedes', 'Tesla', 'Toyota'], dtype=object)

In [8]:
[_ for i in range(2) for _ in one_hot_encoder.categories_[i]]

['Blue', 'Green', 'Red', 'Yellow', 'Mercedes', 'Tesla', 'Toyota']

In [9]:
one_hot_df = pd.DataFrame(one_hot_encoded,
             columns=[_ for i in range(2) for _ in one_hot_encoder.categories_[i]])
one_hot_df.index = df.index
one_hot_df

   Blue  Green  Red  Yellow  Mercedes  Tesla  Toyota
A   0.0    0.0  1.0     0.0       0.0    0.0     1.0
B   0.0    0.0  0.0     1.0       1.0    0.0     0.0
C   1.0    0.0  0.0     0.0       0.0    1.0     0.0
D   0.0    1.0  0.0     0.0       0.0    1.0     0.0
E   0.0    0.0  0.0     1.0       1.0    0.0     0.0

In [10]:
pd.concat([df, one_hot_df], axis='columns')

    Color     Brand  Blue  Green  Red  Yellow  Mercedes  Tesla  Toyota
A     Red    Toyota   0.0    0.0  1.0     0.0       0.0    0.0     1.0
B  Yellow  Mercedes   0.0    0.0  0.0     1.0       1.0    0.0     0.0
C    Blue     Tesla   1.0    0.0  0.0     0.0       0.0    1.0     0.0
D   Green     Tesla   0.0    1.0  0.0     0.0       0.0    1.0     0.0
E  Yellow  Mercedes   0.0    0.0  0.0     1.0       1.0    0.0     0.0