<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/Nominal_one_column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [2]:
nominal_df = pd.DataFrame(
    data={
        'Color': [
            'Red',
            'Yellow',
            'Blue',
            'Green',
            'Yellow',
        ]
    },
    index= list('ABCDE')
)
df = nominal_df.copy()
df

    Color
A     Red
B  Yellow
C    Blue
D   Green
E  Yellow

In [3]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df['Color encoded'] = label_encoder.fit_transform(df['Color'])
df

    Color  Color encoded
A     Red              2
B  Yellow              3
C    Blue              0
D   Green              1
E  Yellow              3

In [4]:
df = nominal_df.copy()
df

    Color
A     Red
B  Yellow
C    Blue
D   Green
E  Yellow

In [5]:
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder = OneHotEncoder(sparse=False)

one_hot_encoded = one_hot_encoder.fit_transform(df)
one_hot_encoded

array([[0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.]])

In [6]:
one_hot_df = pd.DataFrame(one_hot_encoded,
             columns=[_ for _ in one_hot_encoder.categories_[0]])
one_hot_df.index = df.index
one_hot_df

   Blue  Green  Red  Yellow
A   0.0    0.0  1.0     0.0
B   0.0    0.0  0.0     1.0
C   1.0    0.0  0.0     0.0
D   0.0    1.0  0.0     0.0
E   0.0    0.0  0.0     1.0

In [7]:
pd.concat([df, one_hot_df], axis='columns')

    Color  Blue  Green  Red  Yellow
A     Red   0.0    0.0  1.0     0.0
B  Yellow   0.0    0.0  0.0     1.0
C    Blue   1.0    0.0  0.0     0.0
D   Green   0.0    1.0  0.0     0.0
E  Yellow   0.0    0.0  0.0     1.0