<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/OneHotEncodingMultipleColumns_sparse_matrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
MULTIPLIER = 100
color_lst = ['Red', 'Blue', 'Green', 'Green', 'Blue'] * MULTIPLIER
brand_lst = ['Mercedes', 'Mercedes', 'BMW', 'BMW', 'BMW'] * MULTIPLIER
data_dict = {
    'Color': color_lst,
    'Brand': brand_lst,
}

In [51]:
df = pd.DataFrame(
    data=data_dict
)
df

     Color     Brand
0      Red  Mercedes
1     Blue  Mercedes
2    Green       BMW
3    Green       BMW
4     Blue       BMW
..     ...       ...
495    Red  Mercedes
496   Blue  Mercedes
497  Green       BMW
498  Green       BMW
499   Blue       BMW

[500 rows x 2 columns]

In [52]:
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder_array = OneHotEncoder(sparse=False)
one_hot_encoder_sparse = OneHotEncoder(sparse=True)

one_hot_array = one_hot_encoder_array.fit_transform(df)
one_hot_sparse = one_hot_encoder_sparse.fit_transform(df)

all_categories_lst = []
for categories in one_hot_encoder_array.categories_:
    all_categories_lst.extend(categories)

one_hot_array_df = pd.DataFrame(data=one_hot_array,
             index=df.index,
             columns=all_categories_lst)

one_hot_sparse_df = pd.DataFrame.sparse.from_spmatrix(one_hot_sparse,
                                                      columns=all_categories_lst)
import sys

print(f'one-hot imputed array        : {sys.getsizeof(one_hot_array)}')
print(f'one-hot imputed sparse matrix: {sys.getsizeof(one_hot_sparse)}')
print()
print(f'DataFrame with one-hot imputed array        : {sys.getsizeof(one_hot_array_df)}')
print(f'DataFrame with one-hot imputed sparse matrix: {sys.getsizeof(one_hot_sparse_df)}')

one_hot_sparse

one-hot imputed array        : 20112
one-hot imputed sparse matrix: 56

DataFrame with one-hot imputed array        : 20152
DataFrame with one-hot imputed sparse matrix: 12152

<500x5 sparse matrix of type '<class 'numpy.float64'>'
	with 1000 stored elements in Compressed Sparse Row format>

In [53]:
one_hot_sparse_df

     Blue  Green  Red  BMW  Mercedes
0     0.0    0.0  1.0  0.0       1.0
1     1.0    0.0  0.0  0.0       1.0
2     0.0    1.0  0.0  1.0       0.0
3     0.0    1.0  0.0  1.0       0.0
4     1.0    0.0  0.0  1.0       0.0
..    ...    ...  ...  ...       ...
495   0.0    0.0  1.0  0.0       1.0
496   1.0    0.0  0.0  0.0       1.0
497   0.0    1.0  0.0  1.0       0.0
498   0.0    1.0  0.0  1.0       0.0
499   1.0    0.0  0.0  1.0       0.0

[500 rows x 5 columns]

In [54]:
one_hot_array_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
Blue        500 non-null float64
Green       500 non-null float64
Red         500 non-null float64
BMW         500 non-null float64
Mercedes    500 non-null float64
dtypes: float64(5)
memory usage: 19.7 KB

In [55]:
one_hot_sparse_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
Blue        500 non-null Sparse[float64, 0.0]
Green       500 non-null Sparse[float64, 0.0]
Red         500 non-null Sparse[float64, 0.0]
BMW         500 non-null Sparse[float64, 0.0]
Mercedes    500 non-null Sparse[float64, 0.0]
dtypes: Sparse[float64, 0.0](5)
memory usage: 11.8 KB

In [56]:
pd.concat([df, one_hot_array_df], axis='columns')

     Color     Brand  Blue  Green  Red  BMW  Mercedes
0      Red  Mercedes   0.0    0.0  1.0  0.0       1.0
1     Blue  Mercedes   1.0    0.0  0.0  0.0       1.0
2    Green       BMW   0.0    1.0  0.0  1.0       0.0
3    Green       BMW   0.0    1.0  0.0  1.0       0.0
4     Blue       BMW   1.0    0.0  0.0  1.0       0.0
..     ...       ...   ...    ...  ...  ...       ...
495    Red  Mercedes   0.0    0.0  1.0  0.0       1.0
496   Blue  Mercedes   1.0    0.0  0.0  0.0       1.0
497  Green       BMW   0.0    1.0  0.0  1.0       0.0
498  Green       BMW   0.0    1.0  0.0  1.0       0.0
499   Blue       BMW   1.0    0.0  0.0  1.0       0.0

[500 rows x 7 columns]