<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/OneHotEncodingMultipleColumns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
data_dict = {
    'Color': ['Red', 'Blue', 'Green', 'Green', 'Blue'],
    'Brand': ['Mercedes', 'Mercedes', 'BMW', 'BMW', 'BMW'],
}

In [11]:
df = pd.DataFrame(
    data=data_dict,
    index=list('ABCDE')
)
df

   Color     Brand
A    Red  Mercedes
B   Blue  Mercedes
C  Green       BMW
D  Green       BMW
E   Blue       BMW

In [12]:
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder = OneHotEncoder(sparse=False)

one_hot_array = one_hot_encoder.fit_transform(df)
all_categories_lst = []
for categories in one_hot_encoder.categories_:
    all_categories_lst.extend(categories)

one_hot_df = pd.DataFrame(data=one_hot_array,
             index=df.index,
             columns=all_categories_lst)
one_hot_df

   Blue  Green  Red  BMW  Mercedes
A   0.0    0.0  1.0  0.0       1.0
B   1.0    0.0  0.0  0.0       1.0
C   0.0    1.0  0.0  1.0       0.0
D   0.0    1.0  0.0  1.0       0.0
E   1.0    0.0  0.0  1.0       0.0

In [13]:
pd.concat([df, one_hot_df], axis='columns')

   Color     Brand  Blue  Green  Red  BMW  Mercedes
A    Red  Mercedes   0.0    0.0  1.0  0.0       1.0
B   Blue  Mercedes   1.0    0.0  0.0  0.0       1.0
C  Green       BMW   0.0    1.0  0.0  1.0       0.0
D  Green       BMW   0.0    1.0  0.0  1.0       0.0
E   Blue       BMW   1.0    0.0  0.0  1.0       0.0