<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/OneHotEncoding_with_sparse_matrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
color_lst = ['Red', 'Blue', 'Green', 'Green', 'Blue']
data_dict = {
    'Color': color_lst,
}

In [3]:
df = pd.DataFrame(
    data=data_dict,
    index=list('ABCDE')
)
df

   Color
A    Red
B   Blue
C  Green
D  Green
E   Blue

In [4]:
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder_sparse = OneHotEncoder(sparse=True)

one_hot_sparse = one_hot_encoder_sparse.fit_transform(df)

one_hot_sparse

<5x3 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [5]:
all_categories_lst = []
for categories in one_hot_encoder_sparse.categories_:
    all_categories_lst.extend(categories)

one_hot_sparse_df = pd.DataFrame.sparse.from_spmatrix(one_hot_sparse,
                                                      columns=all_categories_lst,
                                                      index=df.index)

one_hot_sparse_df

   Blue  Green  Red
A   0.0    0.0  1.0
B   1.0    0.0  0.0
C   0.0    1.0  0.0
D   0.0    1.0  0.0
E   1.0    0.0  0.0