<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/OneHotEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [9]:
df = pd.DataFrame(
    data={
        'Color': ['Red',
                  'Red',
                  'Yellow',
                  'Green',
                  'Yellow',
                  ]
    },
    index=['Mark',
            'Chris',
            'Samir',
            'Nahida',
            'Rene',
            ]

)
df

         Color
Mark       Red
Chris      Red
Samir   Yellow
Nahida   Green
Rene    Yellow

In [10]:
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder = OneHotEncoder(sparse=False)

one_hot_encoding = one_hot_encoder.fit_transform(df['Color'].values.reshape(-1,1))
one_hot_encoding

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [12]:
one_hot_df = pd.DataFrame(one_hot_encoding)
one_hot_df

     0    1    2
0  0.0  1.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0
3  1.0  0.0  0.0
4  0.0  0.0  1.0

One-Hot Encoding lost the original indexes.

We restore the indexes from the original DataFrame `df`.

In [13]:
one_hot_df.index = df.index
one_hot_df

          0    1    2
Mark    0.0  1.0  0.0
Chris   0.0  1.0  0.0
Samir   0.0  0.0  1.0
Nahida  1.0  0.0  0.0
Rene    0.0  0.0  1.0

We still have to get the correct column names.


```python
one_hot_encoder.categories_[0]
```
has the correct order for the column names.

In [14]:
list(one_hot_encoder.categories_[0])

['Green', 'Red', 'Yellow']

In [15]:
one_hot_df.columns = list(one_hot_encoder.categories_[0])
one_hot_df

        Green  Red  Yellow
Mark      0.0  1.0     0.0
Chris     0.0  1.0     0.0
Samir     0.0  0.0     1.0
Nahida    1.0  0.0     0.0
Rene      0.0  0.0     1.0

We need to make sure that the two DataFrames are concatinated `side by side`(columns by columns).

The `default` values for concatination is **row by row**.

In [16]:
pd.concat([df, one_hot_df])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

         Color  Green  Red  Yellow
Mark       Red    NaN  NaN     NaN
Chris      Red    NaN  NaN     NaN
Samir   Yellow    NaN  NaN     NaN
Nahida   Green    NaN  NaN     NaN
Rene    Yellow    NaN  NaN     NaN
Mark       NaN    0.0  1.0     0.0
Chris      NaN    0.0  1.0     0.0
Samir      NaN    0.0  0.0     1.0
Nahida     NaN    1.0  0.0     0.0
Rene       NaN    0.0  0.0     1.0

In [17]:
pd.concat([df, one_hot_df], axis='columns')

         Color  Green  Red  Yellow
Mark       Red    0.0  1.0     0.0
Chris      Red    0.0  1.0     0.0
Samir   Yellow    0.0  0.0     1.0
Nahida   Green    1.0  0.0     0.0
Rene    Yellow    0.0  0.0     1.0