<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/Ordinal_one_column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [2]:
ordinal_df = pd.DataFrame(
    data={
        'Breakfast': [
            'Every day',
            'Never',
            'Rarely',
            'Most days',
            'Never',
        ]
    },
    index= list('ABCDE')
)
df = ordinal_df.copy()
df

   Breakfast
A  Every day
B      Never
C     Rarely
D  Most days
E      Never

In [3]:
how_offten_dictionary = {
    'Never': 1,
    'Rarely': 2,
    'Most days': 3,
    'Every day': 4,
}

df['Breakfast encoded'] = df.Breakfast.map(lambda b: how_offten_dictionary[b])
df

   Breakfast  Breakfast encoded
A  Every day                  4
B      Never                  1
C     Rarely                  2
D  Most days                  3
E      Never                  1