<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/Ordinal_multiple_column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [2]:
ordinal_df = pd.DataFrame(
    data={
        'Breakfast': [
            'Every day',
            'Never',
            'Rarely',
            'Most days',
            'Never',
        ],
        'Lunch': [
            'Every day',
            'Most days',
            'Most days',
            'Never',
            'Every day',
        ],
        'Weather': [
            'Hot',
            'Mild',
            'Cold',
            'Hot',
            'Cold',
        ]
    },
    index= list('ABCDE')
)
df = ordinal_df.copy()
df

   Breakfast      Lunch Weather
A  Every day  Every day     Hot
B      Never  Most days    Mild
C     Rarely  Most days    Cold
D  Most days      Never     Hot
E      Never  Every day    Cold

In [3]:
how_offten_dictionary = {
    'Never': 1,
    'Rarely': 2,
    'Most days': 3,
    'Every day': 4,
}

how_warm_dictionary = {
    'Cold': 1,
    'Mild': 2,
    'Hot': 3,
}

ordinal_columns = [
    ('Breakfast', how_offten_dictionary),
    ('Lunch', how_offten_dictionary),
    ('Weather', how_warm_dictionary),
]

for col, col_dict in ordinal_columns:
    df[col + '_encoded'] = df[col].map(lambda row: col_dict[row])
df

   Breakfast      Lunch  ... Lunch_encoded  Weather_encoded
A  Every day  Every day  ...             4                3
B      Never  Most days  ...             3                2
C     Rarely  Most days  ...             3                1
D  Most days      Never  ...             1                3
E      Never  Every day  ...             4                1

[5 rows x 6 columns]