<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/Pandas_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

import numpy as np
import pandas as pd

from getpass import getpass

In [2]:
def access_kaggle():
    """
    Access Kaggle from Google Colab.
    If the /root/.kaggle does not exist then prompt for
    the username and for the Kaggle API key.
    Creates the kaggle.json access file in the /root/.kaggle/ folder. 
    """
    KAGGLE_ROOT = os.path.join('/root', '.kaggle')
    KAGGLE_PATH = os.path.join(KAGGLE_ROOT, 'kaggle.json')

    if '.kaggle' not in os.listdir(path='/root'):
        user = getpass(prompt='Kaggle username: ')
        key  = getpass(prompt='Kaggle API key: ')
        
        !mkdir $KAGGLE_ROOT
        !touch $KAGGLE_PATH
        !chmod 666 $KAGGLE_PATH
        with open(KAGGLE_PATH, mode='w') as f:
            f.write('{"username":"%s", "key":"%s"}' %(user, key))
            f.close()
        !chmod 600 $KAGGLE_PATH
        del user
        del key
        success_msg = "Kaggle is successfully set up. Good to go."
        print(f'{success_msg}')

access_kaggle()

Kaggle username: ··········
Kaggle API key: ··········
Kaggle is successfully set up. Good to go.

In [3]:
!kaggle datasets download zynicide/wine-reviews --unzip
!apt-get install tree
!tree -sh ./
!rm *.json
!tree -sh ./
!cat -n winemag-data-130k-v2.csv|head -5

Downloading wine-reviews.zip to /content
 79% 40.0M/50.9M [00:00<00:00, 28.6MB/s]
100% 50.9M/50.9M [00:00<00:00, 65.4MB/s]
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-430
Use 'apt autoremove' to remove it.
The following NEW packages will be installed:
  tree
0 upgraded, 1 newly installed, 0 to remove and 7 not upgraded.
Need to get 40.7 kB of archives.
After this operation, 105 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tree amd64 1.7.0-5 [40.7 kB]
Fetched 40.7 kB in 0s (118 kB/s)
Selecting previously unselected package tree.
(Reading database ... 135004 files and directories currently installed.)
Preparing to unpack .../tree_1.7.0-5_amd64.deb ...
Unpacking tree (1.7.0-5) ...
Setting up tree (1.7.0-5) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
./
├── [4.0K]  sample_data
│   ├── [1.7K]  anscombe.json
│   ├── [294K]  california_housing_test.csv
│   ├── [1.6M]  california_housing_train.csv
│   ├── [ 17M]  mnist_test.csv
│   ├── [ 35M]  mnist_train_small.csv
│   └── [ 930]  README.md
├── [ 50M]  winemag-data-130k-v2.csv
├── [ 76M]  winemag-data-130k-v2.json
└── [ 47M]  winemag-data_first150k.csv

1 directory, 9 files
./
├── [4.0K]  sample_data
│   ├── [1.7K]  anscombe.json
│   ├── [294K]  california_housing_test.csv
│   ├── [1.6M]  california_housing_train.csv
│   ├── [ 17M]  mnist_test.csv
│   ├── [ 35M]  mnist_train_small.csv
│   └── [ 930]  README.md
├── [ 50M]  winemag-data-130k-v2.csv
└── [ 47M]  winemag-data_first150k.csv

1 directory, 8 files
     1	,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
     2	0,Italy,"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity.",Vulkà Bianco,87,,Sicily & Sardinia,Etna,,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco  (Etna),White Blend,Nicosia
     3	1,Portugal,"This is ripe and fruity, a wine that is smooth while still structured. Firm tannins are filled out with juicy red berry fruits and freshened with acidity. It's  already drinkable, although it will certainly be better from 2016.",Avidagos,87,15.0,Douro,,,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
     4	2,US,"Tart and snappy, the flavors of lime flesh and rind dominate. Some green pineapple pokes through, with crisp acidity underscoring the flavors. The wine was all stainless-steel fermented.",,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine ,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
     5	3,US,"Pineapple rind, lemon pith and orange blossom start off the aromas. The palate is a bit more opulent, with notes of honey-drizzled guava and mango giving way to a slightly astringent, semidry finish.",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,,Alexander Peartree,,St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore),Riesling,St. Julian

In [4]:
csv_file_name = 'winemag-data-130k-v2.csv'
df = pd.read_csv(csv_file_name, sep=',', index_col=0)
df.head(2)

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos

[2 rows x 13 columns]



```python
df.isnull()
```
will return a `True`/`False` **DataFrame**.
```python
df.isnull().sum()
```
will return a **Series**.

In [50]:
df.isnull()

        country  description  designation  ...  title  variety  winery
0         False        False        False  ...  False    False   False
1         False        False        False  ...  False    False   False
2         False        False         True  ...  False    False   False
3         False        False        False  ...  False    False   False
4         False        False        False  ...  False    False   False
...         ...          ...          ...  ...    ...      ...     ...
129966    False        False        False  ...  False    False   False
129967    False        False         True  ...  False    False   False
129968    False        False        False  ...  False    False   False
129969    False        False         True  ...  False    False   False
129970    False        False        False  ...  False    False   False

[129971 rows x 13 columns]

In [5]:
df.isnull().sum()

country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

We can use either `df.isnull().any()` or `df.isnull().sum() > 0` for a `condition`.

In [6]:
nullvalues = df.isnull().sum() > 0
nullvalues

country                   True
description              False
designation               True
points                   False
price                     True
province                  True
region_1                  True
region_2                  True
taster_name               True
taster_twitter_handle     True
title                    False
variety                   True
winery                   False
dtype: bool

In [9]:
columns_with_NaN = df.columns[nullvalues]
columns_with_NaN

Index(['country', 'designation', 'price', 'province', 'region_1', 'region_2',
       'taster_name', 'taster_twitter_handle', 'variety'],
      dtype='object')

In [11]:
df.loc[df.country.isnull()]

       country  ...                           winery
913        NaN  ...               Gotsa Family Wines
3131       NaN  ...                Barton & Guestier
4243       NaN  ...  Kakhetia Traditional Winemaking
9509       NaN  ...                         Tsililis
9750       NaN  ...                         Ross-idi
...        ...  ...                              ...
124176     NaN  ...                Les Frères Dutruy
129407     NaN  ...                      El Capricho
129408     NaN  ...                      El Capricho
129590     NaN  ...                        Büyülübağ
129900     NaN  ...                           Psagot

[63 rows x 13 columns]

In [14]:
#Only the first three records with NaN country values.
df.loc[df.country.isnull()].iloc[:3]

     country  ...                           winery
913      NaN  ...               Gotsa Family Wines
3131     NaN  ...                Barton & Guestier
4243     NaN  ...  Kakhetia Traditional Winemaking

[3 rows x 13 columns]

In [15]:
list(columns_with_NaN)

['country',
 'designation',
 'price',
 'province',
 'region_1',
 'region_2',
 'taster_name',
 'taster_twitter_handle',
 'variety']

In [16]:
columns_with_NaN[0]

'country'

In [17]:
condition = df.country.isnull()
df.loc[condition].iloc[:3]

     country  ...                           winery
913      NaN  ...               Gotsa Family Wines
3131     NaN  ...                Barton & Guestier
4243     NaN  ...  Kakhetia Traditional Winemaking

[3 rows x 13 columns]

In [18]:
condition_from_list = eval('df.' + columns_with_NaN[0] + '.isnull()')
print(condition_from_list)

0         False
1         False
2         False
3         False
4         False
          ...
129966    False
129967    False
129968    False
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [19]:
df.loc[condition_from_list].iloc[:3]

     country  ...                           winery
913      NaN  ...               Gotsa Family Wines
3131     NaN  ...                Barton & Guestier
4243     NaN  ...  Kakhetia Traditional Winemaking

[3 rows x 13 columns]

In [24]:
for _ in list(columns_with_NaN):
    condition = eval('df.' + _ + '.isnull()')
    output = df.loc[condition].head(3)
    print(f'missing records for {_}: {output}')

missing records for country:      country  ...                           winery
913      NaN  ...               Gotsa Family Wines
3131     NaN  ...                Barton & Guestier
4243     NaN  ...  Kakhetia Traditional Winemaking

[3 rows x 13 columns]
missing records for designation:    country  ...      winery
2       US  ...   Rainstorm
7   France  ...    Trimbach
11  France  ...  Leon Beyer

[3 rows x 13 columns]
missing records for price:    country  ...                winery
0    Italy  ...               Nicosia
13   Italy  ...   Masseria Setteporte
30  France  ...  Domaine de la Madone

[3 rows x 13 columns]
missing records for province:      country  ...                           winery
913      NaN  ...               Gotsa Family Wines
3131     NaN  ...                Barton & Guestier
4243     NaN  ...  Kakhetia Traditional Winemaking

[3 rows x 13 columns]
missing records for region_1:      country  ...               winery
1   Portugal  ...  Quinta dos Avidagos
8    Germany  ...          Heinz Eifel
15   Germany  ...      Richard Böcking

[3 rows x 13 columns]
missing records for region_2:     country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
3        US  ...           St. Julian

[3 rows x 13 columns]
missing records for taster_name:    country  ...              winery
31   Italy  ...  Duca di Salaparuta
32   Italy  ...  Duca di Salaparuta
33      US  ...             Envolve

[3 rows x 13 columns]
missing records for taster_twitter_handle:     country  ...           winery
3        US  ...       St. Julian
8   Germany  ...      Heinz Eifel
15  Germany  ...  Richard Böcking

[3 rows x 13 columns]
missing records for variety:       country  ...  winery
86909   Chile  ...  Carmen

[1 rows x 13 columns]

In [25]:
df.dtypes

country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

In [27]:
object_type = df.dtypes == 'object'
object_type

country                   True
description               True
designation               True
points                   False
price                    False
province                  True
region_1                  True
region_2                  True
taster_name               True
taster_twitter_handle     True
title                     True
variety                   True
winery                    True
dtype: bool

In [30]:
object_columns = df.columns[object_type]
object_columns

Index(['country', 'description', 'designation', 'province', 'region_1',
       'region_2', 'taster_name', 'taster_twitter_handle', 'title', 'variety',
       'winery'],
      dtype='object')

In [49]:
def unique_values_for_object_columns(max_values_per_column=5):
    """Return the list of unique values 
       for the object type columns in the DataFrame.
    """
    unique_lst = []
    for _ in list(object_columns):
        command = 'df.' + _ + '.unique()'
        if max_values_per_column == 'all':
            output = eval(command)
        else:
            output = eval(command + '[:max_values_per_column]')
        unique_lst.append(output)
    return unique_lst

unique_values_for_object_columns(4)

[array(['Italy', 'Portugal', 'US', 'Spain'], dtype=object),
 array(["Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity.",
        "This is ripe and fruity, a wine that is smooth while still structured. Firm tannins are filled out with juicy red berry fruits and freshened with acidity. It's  already drinkable, although it will certainly be better from 2016.",
        'Tart and snappy, the flavors of lime flesh and rind dominate. Some green pineapple pokes through, with crisp acidity underscoring the flavors. The wine was all stainless-steel fermented.',
        'Pineapple rind, lemon pith and orange blossom start off the aromas. The palate is a bit more opulent, with notes of honey-drizzled guava and mango giving way to a slightly astringent, semidry finish.'],
       dtype=object),
 array(['Vulkà Bianco', 'Avidagos', nan, 'Reserve Late Harvest'],
       dtype=object),
 array(['Sicily & Sardinia', 'Douro', 'Oregon', 'Michigan'], dtype=object),
 array(['Etna', nan, 'Willamette Valley', 'Lake Michigan Shore'],
       dtype=object),
 array([nan, 'Willamette Valley', 'Napa', 'Sonoma'], dtype=object),
 array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
        'Alexander Peartree'], dtype=object),
 array(['@kerinokeefe', '@vossroger', '@paulgwine\xa0', nan], dtype=object),
 array(['Nicosia 2013 Vulkà Bianco  (Etna)',
        'Quinta dos Avidagos 2011 Avidagos Red (Douro)',
        'Rainstorm 2013 Pinot Gris (Willamette Valley)',
        'St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore)'],
       dtype=object),
 array(['White Blend', 'Portuguese Red', 'Pinot Gris', 'Riesling'],
       dtype=object),
 array(['Nicosia', 'Quinta dos Avidagos', 'Rainstorm', 'St. Julian'],
       dtype=object)]