<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/pandas_4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

import numpy as np
import pandas as pd

from getpass import getpass

In [0]:
def access_kaggle():
    """
    Access Kaggle from Google Colab.
    If the /root/.kaggle does not exist then prompt for
    the username and for the Kaggle API key.
    Creates the kaggle.json access file in the /root/.kaggle/ folder. 
    """
    KAGGLE_ROOT = os.path.join('/root', '.kaggle')
    KAGGLE_PATH = os.path.join(KAGGLE_ROOT, 'kaggle.json')

    if '.kaggle' not in os.listdir(path='/root'):
        user = getpass(prompt='Kaggle username: ')
        key  = getpass(prompt='Kaggle API key: ')
        
        !mkdir $KAGGLE_ROOT
        !touch $KAGGLE_PATH
        !chmod 666 $KAGGLE_PATH
        with open(KAGGLE_PATH, mode='w') as f:
            f.write('{"username":"%s", "key":"%s"}' %(user, key))
            f.close()
        !chmod 600 $KAGGLE_PATH
        del user
        del key
        success_msg = "Kaggle is successfully set up. Good to go."
        print(f'{success_msg}')

access_kaggle()

Kaggle username: ··········
Kaggle API key: ··········
Kaggle is successfully set up. Good to go.

In [0]:
!kaggle datasets download zynicide/wine-reviews --unzip -f winemag-data-130k-v2.csv -p datasets/
%cd datasets
!unzip winemag-data-130k-v2.csv.zip
!rm winemag-data-130k-v2.csv.zip
%cd ..
!ls -lh datasets/

Downloading winemag-data-130k-v2.csv.zip to datasets
 31% 5.00M/16.4M [00:00<00:00, 41.8MB/s]
100% 16.4M/16.4M [00:00<00:00, 80.0MB/s]
/content/datasets
Archive:  winemag-data-130k-v2.csv.zip
  inflating: winemag-data-130k-v2.csv
/content
total 51M
-rw-r--r-- 1 root root 51M Sep 20 18:04 winemag-data-130k-v2.csv

In [0]:
csv_file_path = 'datasets/winemag-data-130k-v2.csv'
df = pd.read_csv(csv_file_path, sep=',', index_col=0)

# Introduction

In these exercises we'll apply groupwise analysis to our dataset.

Run the code cell below to load the data before running the exercises.

In [0]:
df.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

# Exercises

## 1.
Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [0]:
# Your code here
reviews_written = df.groupby(by=['taster_twitter_handle']).size()

reviews_written

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
dtype: int64

## 2.
What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [0]:
best_rating_per_price = df.groupby(by=['price']).points.max()

best_rating_per_price

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

## 3.
What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [0]:
price_extremes = df.groupby(by=['variety']).price.agg(['min', 'max'])

price_extremes

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

## 4.
What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [0]:
sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=[False, False])

sorted_varieties.head(10)

                        min    max
variety
Ramisco               495.0  495.0
Terrantez             236.0  236.0
Francisa              160.0  160.0
Rosenmuskateller      150.0  150.0
Tinta Negra Mole      112.0  112.0
Pignolo                70.0   70.0
Syrah-Cabernet Franc   60.0   69.0
Garnacha-Cariñena      57.0   57.0
Doña Blanca            53.0   53.0
Cercial                50.0   50.0

## 5.
Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [0]:
reviewer_mean_ratings = df.groupby(by=['taster_name']).points.mean()

reviewer_mean_ratings

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

Are there significant differences in the average scores assigned by the various reviewers? Run the cell below to use the `describe()` method to see a summary of the range of values.

In [0]:
reviewer_mean_ratings.describe()

count    19.000000
mean     88.233026
std       1.243610
min      85.855422
25%      87.323501
50%      88.536235
75%      88.975256
max      90.562551
Name: points, dtype: float64

## 6.
What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [0]:
country_variety_counts = df.groupby(by=['country', 'variety']).size().sort_values(ascending=False).reset_index()

country_variety_counts

        country                   variety     0
0            US                Pinot Noir  9885
1            US        Cabernet Sauvignon  7315
2            US                Chardonnay  6801
3        France  Bordeaux-style Red Blend  4725
4         Italy                 Red Blend  3624
...         ...                       ...   ...
1607    Uruguay        Tempranillo-Tannat     1
1608      Italy                   Pignolo     1
1609      Italy                    Muscat     1
1610      Italy           Moscato di Noto     1
1611  Argentina                   Barbera     1

[1612 rows x 3 columns]

# Keep going

Move on to the [**data types and missing data**](https://www.kaggle.com/residentmario/data-types-and-missing-values).