<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/read_tables_from_html.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Reading tables from an `html` page.

In [0]:
import numpy as np
import pandas as pd

In [2]:
url = 'https://www.fdic.gov/bank/individual/failed/banklist.html'
dataframes = pd.read_html(url)
len(dataframes)

1

In [3]:
df = dataframes[0]
df.head()

                             Bank Name  ...       Closing Date
0     City National Bank of New Jersey  ...   November 1, 2019
1                        Resolute Bank  ...   October 25, 2019
2                Louisa Community Bank  ...   October 25, 2019
3                 The Enloe State Bank  ...       May 31, 2019
4  Washington Federal Bank for Savings  ...  December 15, 2017

[5 rows x 6 columns]

In [4]:
df.shape

(559, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
Bank Name                559 non-null object
City                     559 non-null object
ST                       559 non-null object
CERT                     559 non-null int64
Acquiring Institution    559 non-null object
Closing Date             559 non-null object
dtypes: int64(1), object(5)
memory usage: 26.3+ KB

In [6]:
df['Closing Date'] = pd.to_datetime(df['Closing Date'])
df.dtypes

Bank Name                        object
City                             object
ST                               object
CERT                              int64
Acquiring Institution            object
Closing Date             datetime64[ns]
dtype: object